body {
    margin: 0;
    padding: 0;
    border: solid;
    width: 300px;
    position: relative;
    top: 50px;
    left: 50px;
}


h1 {
    color: blue;
    text-decoration: underline;
    text-align: center;
}

ul,
li {
    color: lightpink;
    font-size: 20px;
}